.area_button {
    background-image: none;
    background-color: rgb(0, 255, 81);
    padding: 0px;
}

.area_button label {
    font-size: 28px;
    background-color: cyan;
    color: darkslateblue;
}

.right-clicked {
    background-image: none;
    background-color: red;
    padding: 0px;
}

.area_label {
    background-image: none;
    background-color: darkgreen;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 20px;
}

